<div class="topic-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
         <h1 class="text-center">Add Picture</h1>
         <% if @topic.errors.any? %>
          <div class="form-error">
            <ul>
              <% @topic.errors.full_messages.each do |topic| %>
                <li><%= topic %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
         <%= form_for @topic do |f| %>
            <div class="form-group">
              <%= f.label :image %>
              <%= f.file_field :image, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_field :description, class: 'form-control' %>
            </div>
            
            <%= f.submit '投稿', class: 'btn btn-black btn-block' %>
            
         <% end %>
      </div>
    </div>
  </div>
</div>